img {
  width: 100%;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.valgt {
  background-color: orange;
}
button {
  margin: 15px 2px 15px 2px;
  background-color: white;
  border-radius: 5px;
  font-family: superclarendon, serif;
}
nav {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: gray;
  color: white;
}
#modal {
  display: none;
  width: 100vw;
  height: 1000vh;
  display: fixed;
  background-color: white;
}
#modal article {
  max-width: 900px;
  margin: 2em auto;
  background-color: white;
}

h1,
h2 {
  font-family: gastromond, sans-serif;
}
p {
  font-family: superclarendon, serif;
}
